/* Add CSS Styling */
.odd-text {
    background-color: lightpink;
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#second {
    color: blue;
    font-size: 36;
}

#third {
    font-size: 24;
}

#fourth {
    background-color: lightgreen;
    font-size: 24;
    font-weight: bold;
}